.section-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    color: var(--theme-heading);

    @media screen and (min-width: 1200px) {
        font-size: 36px;
    }
}